<%- include('partials/header') -%>

<!-- <main class="home container-fluid">
    <div class="row justify-content-around mt-5">
        <h1>Test Title h1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem culpa amet</p>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a> -->
        <!-- <a href="/login" class="col-3 btn btn-primary"> Login</a> -->
    <!-- </div>
</main> -->

<!-- <header class="page-header gradient">
    <div class="container pt-3">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5">
          <h1>Test Title h1</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
          <a href="/signup" type="button" class="btn btn-outline-success btn-lg">
            Signup
          </a>
        </div>
        <div class="col-md-5">
          <img
            src="/imgs/test.img"
            alt="Header image"
          />
        </div>
      </div>
    </div>
  </header> -->

  <div id="bg-image-index" class="container col-xxl-8 px-4 py-4 card-container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3"><span class="accent-1">Creating Otherworldly</span> Event Entertainment</h1>
        <p class="lead">A booking app where you can post or find the most mesmerizing creatures and characters to create incredible and unforgettable events!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" type="button" class="outline-btn btn btn-outline-light btn-lg">
            Get Started
          </a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Test Button</button> -->
        </div>
      </div>
    </div>
  </div>
    

<%- include('partials/footer') -%>